<% provide(:title, 'O Nama') %>
<h1>O Nama</h1>

<div class="center hero-unit">
	U izradi!
</div>
<div class='blog'>
	So far done:
	
  <ul style= "color: #000000 !important;">
		<li>A few static pages, including the one you are visiting right now</li>
		<li>A whole lot of creation and deletion, the database migrations are a real mess</li>
		<li>User sign in/ sign out</li>
		<li>Cookies are enabled, permanent user sign in is achieved this way</li>
		<li>Implemented the ability for users to upload profile pictures</li>
		<li>Heavy usage of bootstrap to make it remotley attractive</li>
		<li>A bunch of small stuff, like the mail_to link in the footer</li>
		<li>Added a bunch of tests including factorygirls tests. Most of them are copied from the internet *blush*</li>
		<li>Added a first aid favicon, just for the fun of it</li>
	</ul>
</div>

