<%= provide(:title, 'Feed') %>

<div class="center hero-unit">
	<h1>Dobrodošli na Wedify!</h1>
	<h2>
		<p>Wedify je rješenje svih vaših problema!</p>
		<p>Registrirajte se i isplanirajte svoje vjenčanje u par klikova iz vašeg doma</p> 
	</h2>
	<%= link_to "Registriraj se!", signup_path, class: "btn btn-large btn-inverse" %>
</div>

<%= render 'layouts/middle' %>
