<% provide(:title, 'Ups') %>
<div class="center hero-unit">
	<h1>Welcome to Gags on Rails</h1>
	<div class="alert alert-error"><h2>
		Seems like You will have to loggin to do that
	</h2>
</div>
<%= link_to "Sign in now!", signin_path, class: "btn btn-large btn-primary" %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>