<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
<body>
  <img src='http://www.weddify.nl/wp-content/uploads/2013/01/F1010021-301x251.jpg' />
        <h1 style="color:#003366">
          Dobrodošli na Weddify! <%= "#{@user.name_groom} i #{@user.name_bride} #{@user.last_name}" %>
        </h1>
        <p style="color:#336699">
          Savršeni detalji. Očaravajuće ideje. Stvarna vjenčanja o kojima sanjate.
        </p>
        <p style="color:#336699">
          Uz Weddify dignite noge u zrak i vrhunski isplanirajte vaš najvažniji dan!
        </p>
        <a href="<%= @url %>">Prijavi se</a>
</body>
</html>