<div class="wrapper">

    <div class="flexslider" id="home">

      <div class="dots"></div>
      
      <ul class="slides">
        
        <li class="slide1">
            
          <div class="container">

            <div class="slide-content">
              
              <h1 class="hero">Dobrodošli na Weddify!<span>Savršeni detalji. Očaravajuće ideje. Stvarna vjenčanja o kojima sanjate.</span></h1>
              <%= link_to "Registriraj se!", signup_path, class: "button get-started" %>
              
            </div> <!-- /.slide-content -->
            
          </div> <!-- /.container -->

        </li> <!-- /.slide1 -->

        <li class="slide2">
            
          <div class="container">

            <div class="slide-content">
              
              <h1 class="hero">Vaše vjenčanje iz snova je tu!<span>Weddify će vas kroz <span style="color: #f00;">
                <s>muke</s></span>planiranja provesti u samo nekoliko klikova iz topline vašeg doma.</span></h1>
                  <a class="button get-started" href="#">Saznaj više!</a>
              
            </div> <!-- /.slide-content -->
            
          </div> <!-- /.container -->

        </li> <!-- /.slide2 -->

        <li class="slide3">
            
          <div class="container">

            <div class="slide-content">
              
              <h1 class="hero">Učimo sa vama.<span>Na našem blogu otkrijte šta treba a šta ne i mnoge ostale savjete i trikove. <span style="color: #f00;">
                <s>treba</s></span> </h1>.</span></h1>
                 <a class="button get-started" href="#">Saznaj više!</a>
              
            </div> <!-- /.slide-content -->
            
          </div> <!-- /.container -->

        </li> <!-- /.slide2 -->

        <li class="slide4">
            
          <div class="container">

            <div class="slide-content">
              
              <h1 class="hero">Kontrolirajte svoj budžet.<span>Uz weddify tačno i precizno isplanirajte troškove.</span></h1>
              <a class="button get-started" href="#">Saznaj više!</a>
              
            </div> <!-- /.slide-content -->
            
          </div> <!-- /.container -->

        </li> <!-- /.slide2 -->

        <li class="slide5">
            
          <div class="container">

            <div class="slide-content">
              
              <h1 class="hero">Dijelite sreću sa svima.<span>Weddify omogućava da dijelite svoje vjenčanje sa najdražima u nekoliko klikova.</span></h1>
              <a class="button get-started" href="#">Saznaj više!</a>
              
            </div> <!-- /.slide-content -->
            
          </div> <!-- /.container -->

        </li> <!-- /.slide5 -->

      </ul>
      
    </div> <!-- /#home.flexslider -->