 <!-- FOOTER -->
 
<footer class="main contact">


      <div class="copyright clearfix">
        
        <div class="container">
        
          <div class="pull-left">
            
            <p>Copyright &copy; 2013 Weddify</p>
            
          </div> <!-- /.pull-left -->

          <div class="pull-right">
            
            <nav class="footer">

            <!--Social Network Icons-->
               <div class="widget_nav_menu pull left"> 
        <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
            <li class="skype"><a href="#">skype</a></li>
            <li class="youtube"><a href="#">youtube</a></li>
            <li class="phone"><a href="#">phone </a></li>
            <li class="email"><a href="#">email </a></li>
                   </ul>


            </nav> <!-- /nav.footer -->
            
          </div> <!-- /.pull-right -->
          
        </div> <!-- /.container -->
          
      </div> <!-- /.copyright -->

    </footer> <!-- /footer.main -->