<body>
	<header >
		<div class="navbar navbar-inverse header">
			<div class="navbar-inner">
				<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href='home' > <%= image_tag("logo.png", :size => "140x20", :alt => "Wedify", :class => "round") %> </a>
			<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
			<div class="nav-collapse collapse pull-right">
				<ul class="nav">
					<li class="active"><a href="home">Wedify</a></li>
					<li><a href="about">O Nama</a></li>
					<li><a href="contact">Kontakt</a></li>
					<li><a href="blog">Blog</a></li>
					<!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
				</ul>
			</div><!--/.nav-collapse -->
		</div><!-- /.navbar-inner -->
	</div>
</header>