<!--******************** Services Section ********************-->
<section id="services-wrapper">
<section id="services" class="single-page scrollblock">
<div class="container">
  <div class="align">
  </div>
  <h3 class="categoryTitle"><span>Weddify besplatne usluge</span></h3>
  <div class="dotted-headline">
  </div>
  <!-- Services -->
  <div class="row">
    <center>
    <div class="span3">
      <div class="align">
        <div class="outer-bubble">
          <div class="bubble">
            <img src="./assets/services/budget.png" alt="Avatar" />
          </div>
        </div>
      </div>
      <h3>Kalkulator financija</h3>
      <p>
         Ponosni smo što vam možemo pružiti jedinstvene usluge financijskog kalkulatora. Uz pažljivo birane parametre uštedite koliko god je moguće i ne potrošite više ni feninga više no što trebate. Kalkulator financija je produkat dugog i marljivog prikupljanja svih podataka i parametara koji vam trebaju pri planiranju vjenčanja i izrade finacijskog plana.
      </p>
      <%= link_to "Saznaj više!", signup_path, class: "btn btn-large btn-default" %>
    </div>
    <div class="span3">
      <div class="align">
        <div class="outer-bubble">
          <div class="bubble">
            <img src="./assets/services/invitation.png" alt="Avatar" />
          </div>
        </div>
      </div>
      <h3>Lista gostiju</h3>
      <p>
         Potrudili smo se da sve podatke o gostima vašeg vjenčanja imate dostupne na jednom mjestu uz vrlo jednostavan način integracije sa socijalnim mrežama. U samo nekoliko klikova pozovite sve svoje najdraže i podijelite s njima svoje radosne vijesti.
      </p>
      <%= link_to "Saznaj više!", signup_path, class: "btn btn-large btn-default" %>
    </div>
    <div class="span3">
      <div class="align">
        <div class="outer-bubble">
          <div class="bubble">
            <img src="./assets/services/wishlist.png" alt="Avatar" />
          </div>
        </div>
      </div>
      <h3>Lista želja</h3>
      <p>
         Još jedan besplatan alat koji vam pružamo na korištenje. Uz Listu želja nećete nikada smrknutog izraza otvarati duple poklone i darove. Lista želja se brine da sve vaše želje budu ispunjene i da vas vaši gosti na najbolji mogući način iznenade jedinstvenim i originalnim poklonima.
      </p>
      <%= link_to "Saznaj više!", signup_path, class: "btn btn-large btn-default" %>
    </div>
    <div class="span3 item">
      <div class="align">
        <div class="outer-bubble">
          <div class="bubble">
            <img src="./assets/services/thermometer.png" alt="Avatar" />
          </div>
        </div>
      </div>
      <h3>Kurac da izbiješ oči</h3>
      <p>
         Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
      </p>
      <div class="name">
        <%= link_to "Saznaj više!", signup_path, class: "btn btn-large btn-default" %>
      </div>
      </center>
    </div>
</section>